
# files
*.tgz
*.txt

# floder
tem/
ref/
test/output/

# Node
node_modules/
dist/
build/

# Logs
logs
# *.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# Mac
.DS_Store

# Python
__pycache__/
*.py[cod]
venv/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
